In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_parquet('../data/raw/df_final_estudiantes.parquet')

In [3]:
df.head()

,IDENTIFICACION,PRODUCTO,PERIODO_COMERCIAL,SEGMENTO,FECHA_CARGA,FECHA_VIGENCIA,REGION,N_VECES_CAMPAÑA,N_VECES_CAMPAÑA_CONT,TIPO_APROBACION,...,APROBACION_MES_ANTERIOR,PRODUCTO_MES_ANTERIOR,MONTO_COLOCADO,fecha_liquidacion,CANAL_VENTA,CONTACTABILIDAD_CELULAR,CONTACTABILIDAD_EMAIL,CONTACTABILIDAD_FIJO,CONTACTABILIDAD_TOTAL,COLOCADO
0,0523373,Producto1,202408,SEGMENTO1,2024-08-22,2024-09-13,NORTE,19,5,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,MK,AC,AC,0
1,0523373,Producto1,202405,SEGMENTO1,2024-05-11,2024-06-11,NORTE,16,2,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,MK,AC,AC,0
2,0523373,Producto1,202406,SEGMENTO1,2024-06-12,2024-07-12,NORTE,17,3,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,MK,AC,AC,0
3,0523374,Producto1,202403,SEGMENTO1,2024-03-11,2024-04-08,NORTE,21,7,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,AC,AC,AC,0
4,0523374,Producto1,202402,SEGMENTO1,2024-02-08,2024-03-10,NORTE,20,6,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,AC,AC,AC,0

In [4]:
df.loc[df['IDENTIFICACION']=='0171498']

,IDENTIFICACION,PRODUCTO,PERIODO_COMERCIAL,SEGMENTO,FECHA_CARGA,FECHA_VIGENCIA,REGION,N_VECES_CAMPAÑA,N_VECES_CAMPAÑA_CONT,TIPO_APROBACION,...,APROBACION_MES_ANTERIOR,PRODUCTO_MES_ANTERIOR,MONTO_COLOCADO,fecha_liquidacion,CANAL_VENTA,CONTACTABILIDAD_CELULAR,CONTACTABILIDAD_EMAIL,CONTACTABILIDAD_FIJO,CONTACTABILIDAD_TOTAL,COLOCADO
2673113,0171498,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,16,2,TIPO1,...,TIPO1,Producto1,1075.190,2024-02-03,CANAL1,AC,AC,None,AC,1
2673114,0171498,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,16,2,TIPO1,...,TIPO1,Producto1,1055.705,2024-01-22,CANAL1,AC,AC,None,AC,1
2673115,0171498,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,16,2,TIPO1,...,TIPO1,Producto1,1192.100,2024-01-31,CANAL1,AC,AC,None,AC,1
2673116,0171498,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,16,2,TIPO1,...,TIPO1,Producto1,997.250,2024-01-14,CANAL1,AC,AC,None,AC,1
2673117,0171498,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,16,2,TIPO1,...,TIPO1,Producto1,1055.705,2024-01-26,CANAL1,AC,AC,None,AC,1

In [5]:
tasa_colocacion = df.groupby('SEGMENTO')['COLOCADO'].mean()
tasa_colocacion

SEGMENTO
SEGMENTO1    0.012451
SEGMENTO2    0.014351
SEGMENTO3    0.011436
SEGMENTO4    0.009879
SEGMENTO5    0.012818
SEGMENTO6    0.001209
SEGMENTO7    0.000000
Name: COLOCADO, dtype: float64

In [6]:
df.head()

,IDENTIFICACION,PRODUCTO,PERIODO_COMERCIAL,SEGMENTO,FECHA_CARGA,FECHA_VIGENCIA,REGION,N_VECES_CAMPAÑA,N_VECES_CAMPAÑA_CONT,TIPO_APROBACION,...,APROBACION_MES_ANTERIOR,PRODUCTO_MES_ANTERIOR,MONTO_COLOCADO,fecha_liquidacion,CANAL_VENTA,CONTACTABILIDAD_CELULAR,CONTACTABILIDAD_EMAIL,CONTACTABILIDAD_FIJO,CONTACTABILIDAD_TOTAL,COLOCADO
0,0523373,Producto1,202408,SEGMENTO1,2024-08-22,2024-09-13,NORTE,19,5,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,MK,AC,AC,0
1,0523373,Producto1,202405,SEGMENTO1,2024-05-11,2024-06-11,NORTE,16,2,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,MK,AC,AC,0
2,0523373,Producto1,202406,SEGMENTO1,2024-06-12,2024-07-12,NORTE,17,3,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,MK,AC,AC,0
3,0523374,Producto1,202403,SEGMENTO1,2024-03-11,2024-04-08,NORTE,21,7,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,AC,AC,AC,0
4,0523374,Producto1,202402,SEGMENTO1,2024-02-08,2024-03-10,NORTE,20,6,TIPO1,...,TIPO1,Producto1,NaN,None,None,AC,AC,AC,AC,0

In [7]:
df.dtypes

IDENTIFICACION              object
PRODUCTO                    object
PERIODO_COMERCIAL            int64
SEGMENTO                    object
FECHA_CARGA                 object
FECHA_VIGENCIA              object
REGION                      object
N_VECES_CAMPAÑA              int64
N_VECES_CAMPAÑA_CONT         int64
TIPO_APROBACION             object
CANAL                       object
CLIENTE_BG                  object
IVC                          int64
score_aceptacion             int64
SUB_PERFIL_RIESGOS          object
SCORE                        int64
CUPO                       float64
APROBACION_MES_ANTERIOR     object
PRODUCTO_MES_ANTERIOR       object
MONTO_COLOCADO             float64
fecha_liquidacion           object
CANAL_VENTA                 object
CONTACTABILIDAD_CELULAR     object
CONTACTABILIDAD_EMAIL       object
CONTACTABILIDAD_FIJO        object
CONTACTABILIDAD_TOTAL       object
COLOCADO                     int64
dtype: object

In [8]:
df.FECHA_CARGA.isnull().sum()

np.int64(0)

In [9]:
df.FECHA_CARGA= pd.to_datetime(df['FECHA_CARGA'])
df.FECHA_VIGENCIA=pd.to_datetime(df['FECHA_VIGENCIA'])
df.fecha_liquidacion=pd.to_datetime(df['fecha_liquidacion'])

In [10]:
df.dtypes

IDENTIFICACION                     object
PRODUCTO                           object
PERIODO_COMERCIAL                   int64
SEGMENTO                           object
FECHA_CARGA                datetime64[ns]
FECHA_VIGENCIA             datetime64[ns]
REGION                             object
N_VECES_CAMPAÑA                     int64
N_VECES_CAMPAÑA_CONT                int64
TIPO_APROBACION                    object
CANAL                              object
CLIENTE_BG                         object
IVC                                 int64
score_aceptacion                    int64
SUB_PERFIL_RIESGOS                 object
SCORE                               int64
CUPO                              float64
APROBACION_MES_ANTERIOR            object
PRODUCTO_MES_ANTERIOR              object
MONTO_COLOCADO                    float64
fecha_liquidacion          datetime64[ns]
CANAL_VENTA                        object
CONTACTABILIDAD_CELULAR            object
CONTACTABILIDAD_EMAIL              object
CONTACTABILIDAD_FIJO               object
CONTACTABILIDAD_TOTAL              object
COLOCADO                            int64
dtype: object

In [11]:
df.drop(columns=['CONTACTABILIDAD_CELULAR', 'CONTACTABILIDAD_EMAIL', 'CONTACTABILIDAD_FIJO'], inplace=True)

In [12]:
df.CONTACTABILIDAD_TOTAL

0          AC
1          AC
2          AC
3          AC
4          AC
           ..
5178523    AC
5178524    AC
5178525    AC
5178526    ND
5178527    ND
Name: CONTACTABILIDAD_TOTAL, Length: 5178528, dtype: object

In [13]:
df

,IDENTIFICACION,PRODUCTO,PERIODO_COMERCIAL,SEGMENTO,FECHA_CARGA,FECHA_VIGENCIA,REGION,N_VECES_CAMPAÑA,N_VECES_CAMPAÑA_CONT,TIPO_APROBACION,...,SUB_PERFIL_RIESGOS,SCORE,CUPO,APROBACION_MES_ANTERIOR,PRODUCTO_MES_ANTERIOR,MONTO_COLOCADO,fecha_liquidacion,CANAL_VENTA,CONTACTABILIDAD_TOTAL,COLOCADO
0,0523373,Producto1,202408,SEGMENTO1,2024-08-22,2024-09-13,NORTE,19,5,TIPO1,...,PERFIL1,899,7544.21,TIPO1,Producto1,NaN,NaT,None,AC,0
1,0523373,Producto1,202405,SEGMENTO1,2024-05-11,2024-06-11,NORTE,16,2,TIPO1,...,PERFIL2,925,7855.97,TIPO1,Producto1,NaN,NaT,None,AC,0
2,0523373,Producto1,202406,SEGMENTO1,2024-06-12,2024-07-12,NORTE,17,3,TIPO1,...,PERFIL1,897,5244.98,TIPO1,Producto1,NaN,NaT,None,AC,0
3,0523374,Producto1,202403,SEGMENTO1,2024-03-11,2024-04-08,NORTE,21,7,TIPO1,...,PERFIL2,973,7232.45,TIPO1,Producto1,NaN,NaT,None,AC,0
4,0523374,Producto1,202402,SEGMENTO1,2024-02-08,2024-03-10,NORTE,20,6,TIPO1,...,PERFIL1,973,4894.25,TIPO1,Producto1,NaN,NaT,None,AC,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5178523,1171019,Producto1,202408,SEGMENTO3,2024-08-22,2024-09-13,NORTE,9,1,TIPO1,...,PERFIL1,891,20560.19,TIPO1,Producto1,NaN,NaT,None,AC,0
5178524,1171021,Producto1,202408,SEGMENTO1,2024-08-22,2024-09-13,NORTE,0,0,TIPO1,...,PERFIL1,977,3062.66,None,None,3062.66,2024-08-22,CANAL1,AC,1
5178525,1171032,Producto1,202403,SEGMENTO3,2024-03-11,2024-04-08,CENTRO,4,4,TIPO2,...,PERFIL4,779,802.40,TIPO2,Producto1,NaN,NaT,None,AC,0
5178526,1171032,Producto1,202402,SEGMENTO1,2024-02-08,2024-03-10,CENTRO,3,3,TIPO2,...,PERFIL4,778,802.40,TIPO2,Producto1,NaN,NaT,None,ND,0
5178527,1171032,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,CENTRO,2,2,TIPO2,...,PERFIL4,918,802.40,TIPO2,Producto1,NaN,NaT,None,ND,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5178528 entries, 0 to 5178527
Data columns (total 24 columns):
 #   Column                   Dtype
---  ------                   -----
 0   IDENTIFICACION           object
 1   PRODUCTO                 object
 2   PERIODO_COMERCIAL        int64
 3   SEGMENTO                 object
 4   FECHA_CARGA              datetime64[ns]
 5   FECHA_VIGENCIA           datetime64[ns]
 6   REGION                   object
 7   N_VECES_CAMPAÑA          int64
 8   N_VECES_CAMPAÑA_CONT     int64
 9   TIPO_APROBACION          object
 10  CANAL                    object
 11  CLIENTE_BG               object
 12  IVC                      int64
 13  score_aceptacion         int64
 14  SUB_PERFIL_RIESGOS       object
 15  SCORE                    int64
 16  CUPO                     float64
 17  APROBACION_MES_ANTERIOR  object
 18  PRODUCTO_MES_ANTERIOR    object
 19  MONTO_COLOCADO           float64
 20  fecha_liquidacion        datetime64[ns]
 21  CANAL_VENTA              object
 22  CONTACTABILIDAD_TOTAL    object
 23  COLOCADO                 int64
dtypes: datetime64[ns](3), float64(2), int64(7), object(12)
memory usage: 948.2+ MB

In [15]:
df=df.sort_values(by=["IDENTIFICACION","PERIODO_COMERCIAL","fecha_liquidacion"])

In [16]:
#las unicas variables que se repiten son monto colocado y fecha de liquidacion de estos
columnas_no_cambian=df.drop(columns=["MONTO_COLOCADO","fecha_liquidacion"]).columns
columnas_no_cambian

Index(['IDENTIFICACION', 'PRODUCTO', 'PERIODO_COMERCIAL', 'SEGMENTO',
       'FECHA_CARGA', 'FECHA_VIGENCIA', 'REGION', 'N_VECES_CAMPAÑA',
       'N_VECES_CAMPAÑA_CONT', 'TIPO_APROBACION', 'CANAL', 'CLIENTE_BG', 'IVC',
       'score_aceptacion', 'SUB_PERFIL_RIESGOS', 'SCORE', 'CUPO',
       'APROBACION_MES_ANTERIOR', 'PRODUCTO_MES_ANTERIOR', 'CANAL_VENTA',
       'CONTACTABILIDAD_TOTAL', 'COLOCADO'],
      dtype='object')

In [17]:
df_colocacion_agrupado = (
    df.groupby(['IDENTIFICACION','PERIODO_COMERCIAL'], as_index=False)
      .agg({
          # Para las columnas categóricas, tomar el primer valor
          **{col: 'first' for col in columnas_no_cambian},
          # Para las columnas numéricas, aplicar la suma
          'fecha_liquidacion': 'last',
          'MONTO_COLOCADO': 'sum'
      })
)

In [18]:
df_colocacion_agrupado

,IDENTIFICACION,PRODUCTO,PERIODO_COMERCIAL,SEGMENTO,FECHA_CARGA,FECHA_VIGENCIA,REGION,N_VECES_CAMPAÑA,N_VECES_CAMPAÑA_CONT,TIPO_APROBACION,...,SUB_PERFIL_RIESGOS,SCORE,CUPO,APROBACION_MES_ANTERIOR,PRODUCTO_MES_ANTERIOR,CANAL_VENTA,CONTACTABILIDAD_TOTAL,COLOCADO,fecha_liquidacion,MONTO_COLOCADO
0,0000001,Producto1,202401,SEGMENTO1,2024-01-09,2024-02-08,SUR,16,5,TIPO1,...,PERFIL2,979,9882.41,TIPO1,Producto1,None,AC,0,NaT,0.0
1,0000001,Producto1,202402,SEGMENTO1,2024-02-08,2024-03-10,SUR,17,6,TIPO1,...,PERFIL2,969,9882.41,TIPO1,Producto1,None,AC,0,NaT,0.0
2,0000001,Producto1,202403,SEGMENTO1,2024-03-11,2024-04-08,SUR,18,7,TIPO1,...,PERFIL2,969,9882.41,TIPO1,Producto1,None,AC,0,NaT,0.0
3,0000001,Producto1,202404,SEGMENTO1,2024-04-10,2024-05-10,SUR,19,8,TIPO1,...,PERFIL2,969,9336.83,TIPO1,Producto1,None,AC,0,NaT,0.0
4,0000001,Producto1,202405,SEGMENTO1,2024-05-11,2024-06-11,SUR,20,9,TIPO1,...,PERFIL2,969,8830.22,TIPO1,Producto1,None,AC,0,NaT,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5178201,1171033,Producto1,202406,SEGMENTO3,2024-06-12,2024-07-12,CENTRO,10,7,TIPO1,...,PERFIL2,955,10427.99,TIPO1,Producto1,None,ND,0,NaT,0.0
5178202,1171033,Producto1,202407,SEGMENTO3,2024-07-14,2024-08-21,CENTRO,11,8,TIPO1,...,PERFIL2,955,10427.99,TIPO1,Producto1,None,ND,0,NaT,0.0
5178203,1171033,Producto1,202408,SEGMENTO3,2024-08-22,2024-09-13,CENTRO,12,9,TIPO1,...,PERFIL2,956,10427.99,TIPO1,Producto1,None,ND,0,NaT,0.0
5178204,1171033,Producto1,202409,SEGMENTO3,2024-09-14,2024-10-18,CENTRO,13,10,TIPO1,...,PERFIL2,955,10427.99,TIPO1,Producto1,None,ND,0,NaT,0.0
5178205,1171034,Producto1,202406,SEGMENTO1,2024-06-12,2024-07-12,NORTE,0,0,TIPO1,...,PERFIL2,879,8401.55,TIPO1,Producto2,None,AC,0,NaT,0.0

In [26]:
df_colocacion_agrupado['PERIODO_COMERCIAL'] = pd.to_datetime(df_colocacion_agrupado['PERIODO_COMERCIAL'], format='%Y%m')

In [27]:
df_colocacion_agrupado.PERIODO_COMERCIAL

0         2024-01-01
1         2024-02-01
2         2024-03-01
3         2024-04-01
4         2024-05-01
             ...
5178201   2024-06-01
5178202   2024-07-01
5178203   2024-08-01
5178204   2024-09-01
5178205   2024-06-01
Name: PERIODO_COMERCIAL, Length: 5178206, dtype: datetime64[ns]

In [28]:
df_colocacion_agrupado['MES_PERIODO_COMERCIAL'] = df_colocacion_agrupado['PERIODO_COMERCIAL'].dt.to_period('M')

In [29]:
#Agrupar por MES y contar la cantidad de registros
agrupado_mes = df_colocacion_agrupado.groupby('MES_PERIODO_COMERCIAL').size().reset_index(name='cantidad_registros')

In [30]:
agrupado_mes

  MES_PERIODO_COMERCIAL  cantidad_registros
0               2024-01              495714
1               2024-02              504589
2               2024-03              491017
3               2024-04              497018
4               2024-05              522965
5               2024-06              522816
6               2024-07              551463
7               2024-08              526019
8               2024-09              542278
9               2024-10              524327

In [31]:
df_colocacion_agrupado

,IDENTIFICACION,PRODUCTO,PERIODO_COMERCIAL,SEGMENTO,FECHA_CARGA,FECHA_VIGENCIA,REGION,N_VECES_CAMPAÑA,N_VECES_CAMPAÑA_CONT,TIPO_APROBACION,...,SCORE,CUPO,APROBACION_MES_ANTERIOR,PRODUCTO_MES_ANTERIOR,CANAL_VENTA,CONTACTABILIDAD_TOTAL,COLOCADO,fecha_liquidacion,MONTO_COLOCADO,MES_PERIODO_COMERCIAL
0,0000001,Producto1,2024-01-01,SEGMENTO1,2024-01-09,2024-02-08,SUR,16,5,TIPO1,...,979,9882.41,TIPO1,Producto1,None,AC,0,NaT,0.0,2024-01
1,0000001,Producto1,2024-02-01,SEGMENTO1,2024-02-08,2024-03-10,SUR,17,6,TIPO1,...,969,9882.41,TIPO1,Producto1,None,AC,0,NaT,0.0,2024-02
2,0000001,Producto1,2024-03-01,SEGMENTO1,2024-03-11,2024-04-08,SUR,18,7,TIPO1,...,969,9882.41,TIPO1,Producto1,None,AC,0,NaT,0.0,2024-03
3,0000001,Producto1,2024-04-01,SEGMENTO1,2024-04-10,2024-05-10,SUR,19,8,TIPO1,...,969,9336.83,TIPO1,Producto1,None,AC,0,NaT,0.0,2024-04
4,0000001,Producto1,2024-05-01,SEGMENTO1,2024-05-11,2024-06-11,SUR,20,9,TIPO1,...,969,8830.22,TIPO1,Producto1,None,AC,0,NaT,0.0,2024-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5178201,1171033,Producto1,2024-06-01,SEGMENTO3,2024-06-12,2024-07-12,CENTRO,10,7,TIPO1,...,955,10427.99,TIPO1,Producto1,None,ND,0,NaT,0.0,2024-06
5178202,1171033,Producto1,2024-07-01,SEGMENTO3,2024-07-14,2024-08-21,CENTRO,11,8,TIPO1,...,955,10427.99,TIPO1,Producto1,None,ND,0,NaT,0.0,2024-07
5178203,1171033,Producto1,2024-08-01,SEGMENTO3,2024-08-22,2024-09-13,CENTRO,12,9,TIPO1,...,956,10427.99,TIPO1,Producto1,None,ND,0,NaT,0.0,2024-08
5178204,1171033,Producto1,2024-09-01,SEGMENTO3,2024-09-14,2024-10-18,CENTRO,13,10,TIPO1,...,955,10427.99,TIPO1,Producto1,None,ND,0,NaT,0.0,2024-09
5178205,1171034,Producto1,2024-06-01,SEGMENTO1,2024-06-12,2024-07-12,NORTE,0,0,TIPO1,...,879,8401.55,TIPO1,Producto2,None,AC,0,NaT,0.0,2024-06

In [32]:
df_colocacion_agrupado['APROBACION_MES_ANTERIOR'] = df_colocacion_agrupado['APROBACION_MES_ANTERIOR'].fillna('Ninguno')
df_colocacion_agrupado['PRODUCTO_MES_ANTERIOR'] = df_colocacion_agrupado['PRODUCTO_MES_ANTERIOR'].fillna('Ninguno')

In [35]:
df_colocacion_agrupado['fecha_liquidacion']= df_colocacion_agrupado['fecha_liquidacion'].fillna('Ninguno')

In [37]:
df_colocacion_agrupado.drop(columns=['CANAL_VENTA'], inplace=True)

In [41]:
df_colocacion_agrupado.APROBACION_MES_ANTERIOR.unique()
df_colocacion_agrupado.fecha_liquidacion.unique()

array(['Ninguno', Timestamp('2024-07-04 00:00:00'),
       Timestamp('2024-03-26 00:00:00'), Timestamp('2024-08-06 00:00:00'),
       Timestamp('2024-08-13 00:00:00'), Timestamp('2024-02-17 00:00:00'),
       Timestamp('2024-06-27 00:00:00'), Timestamp('2024-03-22 00:00:00'),
       Timestamp('2024-04-18 00:00:00'), Timestamp('2024-04-10 00:00:00'),
       Timestamp('2024-09-02 00:00:00'), Timestamp('2024-07-01 00:00:00'),
       Timestamp('2024-09-03 00:00:00'), Timestamp('2024-08-12 00:00:00'),
       Timestamp('2024-07-30 00:00:00'), Timestamp('2024-04-17 00:00:00'),
       Timestamp('2024-01-30 00:00:00'), Timestamp('2024-06-15 00:00:00'),
       Timestamp('2024-01-21 00:00:00'), Timestamp('2024-06-10 00:00:00'),
       Timestamp('2024-05-06 00:00:00'), Timestamp('2024-05-30 00:00:00'),
       Timestamp('2024-08-29 00:00:00'), Timestamp('2024-10-18 00:00:00'),
       Timestamp('2024-10-09 00:00:00'), Timestamp('2024-02-21 00:00:00'),
       Timestamp('2024-07-09 00:00:00'), Timestamp('2024-11-07 00:00:00'),
       Timestamp('2024-08-07 00:00:00'), Timestamp('2024-11-05 00:00:00'),
       Timestamp('2024-08-26 00:00:00'), Timestamp('2024-10-07 00:00:00'),
       Timestamp('2024-09-06 00:00:00'), Timestamp('2024-06-05 00:00:00'),
       Timestamp('2024-07-16 00:00:00'), Timestamp('2024-04-25 00:00:00'),
       Timestamp('2024-02-27 00:00:00'), Timestamp('2024-10-01 00:00:00'),
       Timestamp('2024-09-26 00:00:00'), Timestamp('2024-02-14 00:00:00'),
       Timestamp('2024-03-27 00:00:00'), Timestamp('2024-05-15 00:00:00'),
       Timestamp('2024-10-03 00:00:00'), Timestamp('2024-04-22 00:00:00'),
       Timestamp('2024-09-16 00:00:00'), Timestamp('2024-05-01 00:00:00'),
       Timestamp('2024-04-30 00:00:00'), Timestamp('2024-06-20 00:00:00'),
       Timestamp('2024-03-14 00:00:00'), Timestamp('2024-07-25 00:00:00'),
       Timestamp('2024-10-16 00:00:00'), Timestamp('2024-07-18 00:00:00'),
       Timestamp('2024-03-07 00:00:00'), Timestamp('2024-05-09 00:00:00'),
       Timestamp('2024-06-21 00:00:00'), Timestamp('2024-09-23 00:00:00'),
       Timestamp('2024-09-01 00:00:00'), Timestamp('2024-06-14 00:00:00'),
       Timestamp('2024-06-06 00:00:00'), Timestamp('2024-09-04 00:00:00'),
       Timestamp('2024-02-25 00:00:00'), Timestamp('2024-07-15 00:00:00'),
       Timestamp('2024-07-10 00:00:00'), Timestamp('2024-04-26 00:00:00'),
       Timestamp('2024-08-28 00:00:00'), Timestamp('2024-05-31 00:00:00'),
       Timestamp('2024-11-14 00:00:00'), Timestamp('2024-01-25 00:00:00'),
       Timestamp('2024-03-05 00:00:00'), Timestamp('2024-08-16 00:00:00'),
       Timestamp('2024-10-28 00:00:00'), Timestamp('2024-08-02 00:00:00'),
       Timestamp('2024-02-02 00:00:00'), Timestamp('2024-09-13 00:00:00'),
       Timestamp('2024-04-08 00:00:00'), Timestamp('2024-08-27 00:00:00'),
       Timestamp('2024-09-05 00:00:00'), Timestamp('2024-06-18 00:00:00'),
       Timestamp('2024-10-05 00:00:00'), Timestamp('2024-10-23 00:00:00'),
       Timestamp('2024-04-01 00:00:00'), Timestamp('2024-01-17 00:00:00'),
       Timestamp('2024-08-14 00:00:00'), Timestamp('2024-02-16 00:00:00'),
       Timestamp('2024-11-15 00:00:00'), Timestamp('2024-10-10 00:00:00'),
       Timestamp('2024-05-02 00:00:00'), Timestamp('2024-07-08 00:00:00'),
       Timestamp('2024-02-29 00:00:00'), Timestamp('2024-06-28 00:00:00'),
       Timestamp('2024-06-17 00:00:00'), Timestamp('2024-05-22 00:00:00'),
       Timestamp('2024-03-28 00:00:00'), Timestamp('2024-07-29 00:00:00'),
       Timestamp('2024-08-24 00:00:00'), Timestamp('2024-10-14 00:00:00'),
       Timestamp('2024-08-15 00:00:00'), Timestamp('2024-05-07 00:00:00'),
       Timestamp('2024-02-01 00:00:00'), Timestamp('2024-03-15 00:00:00'),
       Timestamp('2024-09-10 00:00:00'), Timestamp('2024-10-22 00:00:00'),
       Timestamp('2024-05-23 00:00:00'), Timestamp('2024-05-17 00:00:00'),
       Timestamp('2024-04-24 00:00:00'), Timestamp('2024-04-23 00:00:00'),
       Timestamp('2024-07-05 00:00:00'), Timestamp('2024-09-21 00:00:00'),
       Timestamp('2024-08-08 00:00:00'), Timestamp('2024-01-31 00:00:00'),
       Timestamp('2024-01-12 00:00:00'), Timestamp('2024-03-01 00:00:00'),
       Timestamp('2024-09-19 00:00:00'), Timestamp('2024-03-08 00:00:00'),
       Timestamp('2024-02-22 00:00:00'), Timestamp('2024-02-20 00:00:00'),
       Timestamp('2024-09-20 00:00:00'), Timestamp('2024-07-17 00:00:00'),
       Timestamp('2024-01-18 00:00:00'), Timestamp('2024-07-06 00:00:00'),
       Timestamp('2024-07-31 00:00:00'), Timestamp('2024-04-11 00:00:00'),
       Timestamp('2024-01-22 00:00:00'), Timestamp('2024-05-28 00:00:00'),
       Timestamp('2024-06-03 00:00:00'), Timestamp('2024-03-19 00:00:00'),
       Timestamp('2024-09-30 00:00:00'), Timestamp('2024-01-10 00:00:00'),
       Timestamp('2024-05-10 00:00:00'), Timestamp('2024-01-11 00:00:00'),
       Timestamp('2024-02-15 00:00:00'), Timestamp('2024-07-19 00:00:00'),
       Timestamp('2024-03-06 00:00:00'), Timestamp('2024-10-17 00:00:00'),
       Timestamp('2024-01-26 00:00:00'), Timestamp('2024-04-04 00:00:00'),
       Timestamp('2024-03-25 00:00:00'), Timestamp('2024-06-11 00:00:00'),
       Timestamp('2024-09-17 00:00:00'), Timestamp('2024-08-23 00:00:00'),
       Timestamp('2024-10-21 00:00:00'), Timestamp('2024-08-01 00:00:00'),
       Timestamp('2024-09-25 00:00:00'), Timestamp('2024-04-16 00:00:00'),
       Timestamp('2024-05-08 00:00:00'), Timestamp('2024-05-16 00:00:00'),
       Timestamp('2024-08-05 00:00:00'), Timestamp('2024-08-19 00:00:00'),
       Timestamp('2024-06-24 00:00:00'), Timestamp('2024-04-19 00:00:00'),
       Timestamp('2024-09-27 00:00:00'), Timestamp('2024-09-18 00:00:00'),
       Timestamp('2024-06-07 00:00:00'), Timestamp('2024-09-09 00:00:00'),
       Timestamp('2024-10-15 00:00:00'), Timestamp('2024-02-26 00:00:00'),
       Timestamp('2024-10-31 00:00:00'), Timestamp('2024-08-18 00:00:00'),
       Timestamp('2024-08-21 00:00:00'), Timestamp('2024-04-29 00:00:00'),
       Timestamp('2024-10-30 00:00:00'), Timestamp('2024-01-19 00:00:00'),
       Timestamp('2024-04-15 00:00:00'), Timestamp('2024-10-24 00:00:00'),
       Timestamp('2024-08-30 00:00:00'), Timestamp('2024-10-29 00:00:00'),
       Timestamp('2024-11-06 00:00:00'), Timestamp('2024-06-12 00:00:00'),
       Timestamp('2024-10-25 00:00:00'), Timestamp('2024-07-24 00:00:00'),
       Timestamp('2024-05-13 00:00:00'), Timestamp('2024-09-12 00:00:00'),
       Timestamp('2024-06-26 00:00:00'), Timestamp('2024-07-26 00:00:00'),
       Timestamp('2024-06-25 00:00:00'), Timestamp('2024-02-23 00:00:00'),
       Timestamp('2024-02-19 00:00:00'), Timestamp('2024-03-11 00:00:00'),
       Timestamp('2024-07-11 00:00:00'), Timestamp('2024-03-18 00:00:00'),
       Timestamp('2024-09-24 00:00:00'), Timestamp('2024-05-14 00:00:00'),
       Timestamp('2024-03-17 00:00:00'), Timestamp('2024-08-03 00:00:00'),
       Timestamp('2024-02-06 00:00:00'), Timestamp('2024-10-27 00:00:00'),
       Timestamp('2024-01-23 00:00:00'), Timestamp('2024-03-20 00:00:00'),
       Timestamp('2024-07-03 00:00:00'), Timestamp('2024-03-04 00:00:00'),
       Timestamp('2024-07-22 00:00:00'), Timestamp('2024-01-15 00:00:00'),
       Timestamp('2024-01-29 00:00:00'), Timestamp('2024-05-25 00:00:00'),
       Timestamp('2024-06-23 00:00:00'), Timestamp('2024-08-17 00:00:00'),
       Timestamp('2024-11-09 00:00:00'), Timestamp('2024-03-29 00:00:00'),
       Timestamp('2024-03-12 00:00:00'), Timestamp('2024-01-24 00:00:00'),
       Timestamp('2024-08-31 00:00:00'), Timestamp('2024-10-02 00:00:00'),
       Timestamp('2024-04-09 00:00:00'), Timestamp('2024-10-06 00:00:00'),
       Timestamp('2024-06-09 00:00:00'), Timestamp('2024-02-03 00:00:00'),
       Timestamp('2024-05-11 00:00:00'), Timestamp('2024-03-13 00:00:00'),
       Timestamp('2024-11-11 00:00:00'), Timestamp('2024-04-06 00:00:00'),
       Timestamp('2024-03-02 00:00:00'), Timestamp('2024-04-02 00:00:00'),
       Timestamp('2024-09-11 00:00:00'), Timestamp('2024-05-27 00:00:00'),
       Timestamp('2024-10-04 00:00:00'), Timestamp('2024-05-21 00:00:00'),
       Timestamp('2024-06-04 00:00:00'), Timestamp('2024-11-02 00:00:00'),
       Timestamp('2024-05-29 00:00:00'), Timestamp('2024-08-20 00:00:00'),
       Timestamp('2024-02-08 00:00:00'), Timestamp('2024-07-20 00:00:00'),
       Timestamp('2024-06-13 00:00:00'), Timestamp('2024-05-20 00:00:00'),
       Timestamp('2024-02-12 00:00:00'), Timestamp('2024-03-03 00:00:00'),
       Timestamp('2024-11-12 00:00:00'), Timestamp('2024-05-19 00:00:00'),
       Timestamp('2024-07-27 00:00:00'), Timestamp('2024-01-16 00:00:00'),
       Timestamp('2024-04-05 00:00:00'), Timestamp('2024-02-09 00:00:00'),
       Timestamp('2024-03-30 00:00:00'), Timestamp('2024-07-12 00:00:00'),
       Timestamp('2024-09-22 00:00:00'), Timestamp('2024-07-02 00:00:00'),
       Timestamp('2024-07-21 00:00:00'), Timestamp('2024-02-07 00:00:00'),
       Timestamp('2024-08-22 00:00:00'), Timestamp('2024-07-23 00:00:00'),
       Timestamp('2024-02-18 00:00:00'), Timestamp('2024-06-19 00:00:00'),
       Timestamp('2024-11-08 00:00:00'), Timestamp('2024-01-09 00:00:00'),
       Timestamp('2024-10-08 00:00:00'), Timestamp('2024-10-11 00:00:00'),
       Timestamp('2024-01-28 00:00:00'), Timestamp('2024-11-13 00:00:00'),
       Timestamp('2024-09-15 00:00:00'), Timestamp('2024-04-20 00:00:00'),
       Timestamp('2024-10-26 00:00:00'), Timestamp('2024-06-02 00:00:00'),
       Timestamp('2024-11-01 00:00:00'), Timestamp('2024-06-08 00:00:00'),
       Timestamp('2024-01-14 00:00:00'), Timestamp('2024-03-21 00:00:00'),
       Timestamp('2024-05-12 00:00:00'), Timestamp('2024-04-03 00:00:00'),
       Timestamp('2024-05-26 00:00:00'), Timestamp('2024-02-24 00:00:00'),
       Timestamp('2024-02-28 00:00:00'), Timestamp('2024-04-14 00:00:00'),
       Timestamp('2024-04-13 00:00:00'), Timestamp('2024-11-10 00:00:00'),
       Timestamp('2024-06-29 00:00:00'), Timestamp('2024-08-09 00:00:00'),
       Timestamp('2024-03-24 00:00:00'), Timestamp('2024-04-12 00:00:00'),
       Timestamp('2024-03-23 00:00:00'), Timestamp('2024-10-12 00:00:00'),
       Timestamp('2024-04-27 00:00:00'), Timestamp('2024-08-11 00:00:00'),
       Timestamp('2024-09-14 00:00:00'), Timestamp('2024-11-04 00:00:00'),
       Timestamp('2024-11-16 00:00:00'), Timestamp('2024-03-16 00:00:00'),
       Timestamp('2024-11-03 00:00:00'), Timestamp('2024-03-31 00:00:00'),
       Timestamp('2024-04-28 00:00:00'), Timestamp('2024-08-10 00:00:00'),
       Timestamp('2024-08-25 00:00:00'), Timestamp('2024-02-13 00:00:00'),
       Timestamp('2024-10-13 00:00:00'), Timestamp('2024-06-01 00:00:00'),
       Timestamp('2024-05-18 00:00:00'), Timestamp('2024-09-29 00:00:00'),
       Timestamp('2024-09-28 00:00:00'), Timestamp('2024-07-28 00:00:00'),
       Timestamp('2024-07-14 00:00:00'), Timestamp('2024-08-04 00:00:00'),
       Timestamp('2024-09-07 00:00:00'), Timestamp('2024-02-05 00:00:00'),
       Timestamp('2024-06-16 00:00:00'), Timestamp('2024-05-04 00:00:00'),
       Timestamp('2024-05-03 00:00:00'), Timestamp('2024-01-13 00:00:00'),
       Timestamp('2024-07-07 00:00:00'), Timestamp('2024-06-22 00:00:00'),
       Timestamp('2024-02-04 00:00:00'), Timestamp('2024-04-07 00:00:00'),
       Timestamp('2024-10-20 00:00:00'), Timestamp('2024-02-10 00:00:00'),
       Timestamp('2024-01-20 00:00:00'), Timestamp('2024-05-24 00:00:00'),
       Timestamp('2024-04-21 00:00:00'), Timestamp('2024-05-05 00:00:00'),
       Timestamp('2024-01-27 00:00:00'), Timestamp('2024-09-08 00:00:00'),
       Timestamp('2024-06-30 00:00:00'), Timestamp('2024-11-17 00:00:00'),
       Timestamp('2024-02-11 00:00:00')], dtype=object)

In [39]:
df

,IDENTIFICACION,PRODUCTO,PERIODO_COMERCIAL,SEGMENTO,FECHA_CARGA,FECHA_VIGENCIA,REGION,N_VECES_CAMPAÑA,N_VECES_CAMPAÑA_CONT,TIPO_APROBACION,...,SCORE,CUPO,APROBACION_MES_ANTERIOR,PRODUCTO_MES_ANTERIOR,MONTO_COLOCADO,fecha_liquidacion,CANAL_VENTA,CONTACTABILIDAD_TOTAL,COLOCADO,MES_PERIODO_COMERCIAL
2097392,0000001,Producto1,2024-01-01,SEGMENTO1,2024-01-09,2024-02-08,SUR,16,5,TIPO1,...,979,9882.41,TIPO1,Producto1,NaN,NaT,None,AC,0,2024-01
2097391,0000001,Producto1,2024-02-01,SEGMENTO1,2024-02-08,2024-03-10,SUR,17,6,TIPO1,...,969,9882.41,TIPO1,Producto1,NaN,NaT,None,AC,0,2024-02
2097393,0000001,Producto1,2024-03-01,SEGMENTO1,2024-03-11,2024-04-08,SUR,18,7,TIPO1,...,969,9882.41,TIPO1,Producto1,NaN,NaT,None,AC,0,2024-03
2097395,0000001,Producto1,2024-04-01,SEGMENTO1,2024-04-10,2024-05-10,SUR,19,8,TIPO1,...,969,9336.83,TIPO1,Producto1,NaN,NaT,None,AC,0,2024-04
2097397,0000001,Producto1,2024-05-01,SEGMENTO1,2024-05-11,2024-06-11,SUR,20,9,TIPO1,...,969,8830.22,TIPO1,Producto1,NaN,NaT,None,AC,0,2024-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990954,1171033,Producto1,2024-06-01,SEGMENTO3,2024-06-12,2024-07-12,CENTRO,10,7,TIPO1,...,955,10427.99,TIPO1,Producto1,NaN,NaT,None,ND,0,2024-06
1990951,1171033,Producto1,2024-07-01,SEGMENTO3,2024-07-14,2024-08-21,CENTRO,11,8,TIPO1,...,955,10427.99,TIPO1,Producto1,NaN,NaT,None,ND,0,2024-07
1990952,1171033,Producto1,2024-08-01,SEGMENTO3,2024-08-22,2024-09-13,CENTRO,12,9,TIPO1,...,956,10427.99,TIPO1,Producto1,NaN,NaT,None,ND,0,2024-08
1990950,1171033,Producto1,2024-09-01,SEGMENTO3,2024-09-14,2024-10-18,CENTRO,13,10,TIPO1,...,955,10427.99,TIPO1,Producto1,NaN,NaT,None,ND,0,2024-09
2018733,1171034,Producto1,2024-06-01,SEGMENTO1,2024-06-12,2024-07-12,NORTE,0,0,TIPO1,...,879,8401.55,TIPO1,Producto2,NaN,NaT,None,AC,0,2024-06